@media screen and (max-width: 600px) {
        .title {
            font-size: 1.8rem;
        }
        .title>span {
            font-size: 1.8rem;
        }
        .menu > li {
            display: none;
        }
        #three-line {
            display: flex;
        }
        .bannar-heading {
            font-size: 1.6rem;
        }
        .bannar-text {
            margin-top: 30px;
            font-size: 0.8rem;
        }
        .bannar-inputs {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }
        .popular-tours {
            flex-direction: column;
            gap: 30px;
        }
        .text-section {
            width: 100%;
        }
        .img-section {
            width: 100%;
        }
        .primary-paragraph {
            font-size: 0.8rem;
        }
        .photo-collage {
            display: flex;
            flex-direction: column;
        }
        .choosing-reason-card {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        .best-deals, #best-deals-exception {
            justify-content: center;
            padding: 1rem;
            padding-top: 10rem;
        }

        .discount-card {
            width: 100%;
        }

        .inspiration-section {
            flex-direction: column;
            gap: 1rem;
        }
        
        .inspiration-context {
            width: 100%;
        }

        .inspiration-img {
            width: 100%;
            padding: 6rem 2rem;
        }

        .inspiration-img > h3 {
            text-align: center;
        }

        .newsLetter-section {
            flex-direction: column;
            gap: 1rem;
        }

        .newsLetter-form {
            width: 100%;
        }

        .newsLetter-img {
            width: 100%;
            height: 300px;
        }

        .travel-card > p {
            font-size: .5rem;
        }

        .travel-card > h3 {
            font-size: 1rem;
        }

        footer {
            padding: 60px 60px;
        }
}